.item-card {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: solid 1px white;
	transition: border-color 0.2s, box-shadow 0.2s;
	border-radius: 10px;
	background-color: var(--color-overlay);
	aspect-ratio: 1 / 1;
	gap: 10px;
}

.item-card.selected {
	border-color: rgba(255, 199, 78);
	box-shadow: 0 0 10px rgb(255, 199, 78);
}

.item-card img {
	width: 90%;
	height: 90%;
	object-fit: contain;
}
