.item-list-wrapper {
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.item-list {
	margin: 1em auto 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
	grid-template-rows: auto auto;
	gap: 10px;
	background-color: var(--color-overlay);
	border-radius: 10px;
	width: 80%;
	height: auto;
	padding: 5%;
}

.page-buttons {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-around;
	gap: 40px;
	margin-top: 10px;
}

.page-buttons button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border: none;
	height: auto;
	z-index: 10;
	height: 60px;
}

.page-buttons button img {
	height: 60px;
}

.left-arrow {
	padding-left: 10px;
}
.right-arrow {
	padding-right: 10px;
}
