.item-list-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.8em;
}

.item-list {
	margin: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));

	gap: 10px;
	background-color: var(--color-overlay);
	border-radius: 10px;
	width: 80%;
	height: 100%;
	padding: 5%;
}

.page-buttons button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	height: auto;
	cursor: pointer;
	z-index: 10;
}

.page-buttons .left-arrow {
	left: 4%;
}

.page-buttons .right-arrow {
	right: 4%;
}
.left-arrow {
	padding-left: 10px;
}
.right-arrow {
	padding-right: 10px;
}