.item-card {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: solid 1px white;
	border-radius: 10px;
	background-color: var(--color-overlay);
	min-width: 35%;
	min-height: 70%;
	gap: 3%;
}

.item-card img {
	width: 90%;
	height: 90%;
	object-fit: contain;
}