.inventory-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.inventory-list {
	margin: 1em auto 0;
	background-color: var(--color-overlay);
	border-radius: 10px;
	width: 80%;
	padding: 0 5%;
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	gap: 40px;
}

.inventory-empty {
	font-family: var(--font-family-title), sans-serif;
	font-size: var(--font-size-title);
	text-shadow: 1px 1px 2px black;
	letter-spacing: 0.1em;
	color: #ffe7b0;
}

.inventory-page {
	min-width: 100%;
	scroll-snap-align: start;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 10px;
	padding: 1rem;
}

.inventory-pagination {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	gap: 6px;
}

.inventory-dot {
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
	transition: 0.2s;
}

.inventory-dot.active {
	background: #3b3b3bc7;
}
