.detail-item {
	position: relative;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	width: 85%;
	height: 85%;
	padding: 3%;
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
	gap: 5px;
	margin: 1em auto 0;
	justify-items: center;
	border-radius: 10px;
}

.recipe-img {
	grid-column: 1;
	aspect-ratio: 1 / 1;
	width: 100%;
	max-width: none;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	min-width: 0;
}

.recipe-img img {
	width: 90%;
	height: 90%;
}

.recipe-name {
	font-size: clamp(0.8rem, 3.8vw, 2rem);
	margin: 0;
	text-align: center;
}

.recipe-info {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	color: var(--text-color-dark);
	width: 100%;
}

.recipe-description {
	font-size: clamp(0.8rem, 3.1vw, 2rem);
	line-height: 1.2;
	margin: 0;
	text-align: center;
	padding: 8px 0 0;
}

.recipe-detail {
	grid-column: 3;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	height: 100%;
	gap: 4px;
}

.recipe-detail > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-effect {
	position: relative;
	display: block;
	grid-row: 1;
	grid-column: 1;
}

.ingredient-img {
	display: contents;
}

.ingredient-img img {
	background-color: #523f0086;
	box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
}

.ingredient-icon-btn {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.ingredient-img img:nth-child(1) {
	grid-row: 2;
	grid-column: 2;
}

.ingredient-img img:nth-child(2) {
	grid-row: 2;
	grid-column: 3;
}

.ingredient-img img:nth-child(3) {
	grid-row: 3;
	grid-column: 1;
}

.ingredient-img img:nth-child(4) {
	grid-row: 3;
	grid-column: 2;
}

.ingredient-img img:nth-child(5) {
	grid-row: 3;
	grid-column: 3;
}

.ingredient-icon,
.image-effect img,
.heart-wrapper,
.heart-wrapper img {
	width: 8vw;
}

.image-effect img,
.heart-wrapper img {
	margin: 3px auto;
	display: block;
}

.ingredient-icon,
.effect-duration,
.image-effect,
.heart-wrapper,
.recipe-img {
	border-radius: 6px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.effect-duration,
.image-effect,
.heart-wrapper,
.recipe-img {
	background-color: var(--color-overlay);
}

.heart-wrapper {
	position: relative;
	display: inline-block;
	grid-row: 2;
	grid-column: 1;
}

.heart-count {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	color: white;
	text-shadow: 0 0 2px black;
	font-size: clamp(1rem, 3.1vw, 2rem);
}

.effect-duration {
	display: flex;
	align-items: center;
	grid-row: 1;
	grid-column: 2 / span 2;
}

.text-duration {
	color: #5dd999;
	font-weight: bold;
	font-size: clamp(1.2rem, 4vw, 2rem);
}
