body {
	width: 425px;
	padding-left: 11, 76%;
	padding-right: 11, 76%;
	margin: 0 auto;
	text-align: center;
}

:root {
	--font-size-base: 12px;
	--font-size-title: 14px;
	--font-family-base: "Roboto", sans-serif;
	--font-family-title: "HyliaSerifBeta-Regular";
	--color-overlay: rgba(0 0 0 0.5);
	--radius: 10px;
	--text-color-light: white;
	--text-color-dark: black;
}
