body {
	width: 100vw;
	margin: 0 auto;
}

:root {
	--font-size-base: 12px;
	--font-size-title: 14px;
	--font-family-base: "Roboto", sans-serif;
	--font-family-title: "HyliaSerifBeta-Regular";
	--color-overlay: rgba(0, 0, 0, 0.5);
	--radius: 10px;
	--text-color-light: white;
	--text-color-dark: black;
}
