html,
body {
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	background-image: url("./components/assets/homeBackground.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
